.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
}
.main-container {
  position: relative;
  padding: 10px;
  /* height: 75vh; */
  width: 25vw;
  overflow-x: hidden;
  overflow-y: auto;
}
.df {
  display: flex;
}
.ai {
  align-items: center;
}
::ng-deep .mat-dialog-container {
  padding: 0px !important;
  overflow: hidden;
  border-radius: 4px;
}
::ng-deep .mat-form-field {
  width: 250px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 150px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: -2px -0.2px 2px 3px #ccc;
  margin-top: 20px;
}
.card-item {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: 10px;
}
